.container-apps {
  // display: grid;
  // grid-template-rows: 34px auto auto;

  header {
    display: grid;
    grid-template-columns: 85% auto;
    padding: 8px;
    background-color: #3a3a3a;

    strong {
      -webkit-app-region: drag;
      color: #fff;

      span {
        color: red;
      }
    }

    nav {
      justify-self: right;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          float: left;
          margin-left: 8px;

          img {
            width: 12px;
            cursor: pointer;
          }
          img#min {
            padding: 10px;
          }
        }
      }
    }
  }

  main {
    overflow: hidden;
    
    .container-main {
      height: calc(100vh - 40px);
      margin-top: 40px;
      display: flex;

      .container-manager {
        height: calc(100vh - 40px);
        // width: 410px;
        background-color: #000;
        padding-bottom: 15px;
      }

      .container-midi {
        height: calc(100vh - 40px);
        position: relative;
        width: calc(100vw - 410px - 46px);
        overflow: hidden;
      }
      
    }
  }
}
::-webkit-scrollbar { 
    display: none; 
}