.container{
	background:#3f3f3f;
	color:#ffffff;
	max-width: 296px;
    margin-left: 30px;
   
    padding:20px;
}

.bold{
	font-weight: bold;
	
}
hr{
background-color:#585858;

}
label{
  margin:6px 10px;
}
p{
	margin:6px 10px;
}

