<div class="container-block">
	<div class="">
		<label>Type</label>{{selected.type.type}}
	</div>
	<div class="">
		<label>Name</label>
		<select name="select" [(ngModel)] = "selected.name" (blur)="onChangeName()">
			<option  *ngFor="let key_name of keys_names_show"  value="{{key_name.name}}" >{{key_name.name}}</option>
			option
		</select>
	</div>
</div>
<div class="container-block keys">
	<div class="">
		<label>Width </label>
		<input type="number" name="control_keys_width" value="" class="d-inline-block" [(ngModel)]="selected.control_keys_width" (blur)="onChangeName()" (click)="onClickInput()">
	</div>
	<div class="">
		<label>Height </label>
		<input type="number" name="control_keys_height" value="" class="d-inline-block" [(ngModel)]="selected.control_keys_height" (blur)="onChangeName()" (click)="onClickInput()">
	</div>
	<div class="">
		<label>Left </label>
		<input type="number" name="control_keys_left" value="" class="d-inline-block" [(ngModel)]="selected.control_keys_left" (blur)="onChangeName()" (click)="onClickInput()">
	</div>
	<div class="">
		<label>Top </label>
		<input type="number" name="control_keys_top" value="" class="d-inline-block" [(ngModel)]="selected.control_keys_top" (blur)="onChangeName()" (click)="onClickInput()">
	</div>
</div>
<div class="container-block keys">
	<div class="">
		<label>Keys </label>
		<select name="control_keys_keys" [(ngModel)] = "selected.control_keys_keys" (blur)="onChangeName()">
			<option  *ngFor="let key of selectKeys"  value="{{key.id}}" >{{key.name}}</option>
		</select>
	</div>
</div>